body{
	background: url("../img/slate2.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: 'Courgette', cursive;
}
#timer-wrapper{
	max-width: 100%;
	position: relative;
	text-align: center;
	margin: auto;
}

#pick-a-time-wrapper{
	text-align: center;
	margin: auto;
	width: 80%;
}
.time-managers img{
	width: 90px;
	height: 90px
}

#pause-button{
	position: absolute;
	left:25px;
	top: 25px;
	display: none;
}

#reset-button{
	position: absolute;
	right: 25px;
	top: 25px;
}

.headers{
	min-height: 140px;
	font-size: 60px;
	padding: 10px;
}

h1{
	display: none;
	color: #fff;
}

#intro{
	display: block;
}

#time-picker-wrapper, #countdown-timer{
	position: relative;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 35px;
	
}

.number-picker{
	display: inline-block;
	background-color: black;
	border-radius: 5%;
	min-width: 130px;
	margin: 10px;
}

#countdown-timer .number-picker{
	display: inline-block;
	background-color: none;
	border-radius: 5%;
	min-width: 130px;
	margin: 10px;
	border: 1px solid #fff;
}

.number-header{
	padding: 5px;
}

.number-box{
	padding: 5px;
	background-color: #333333;
	
}

.add{
	display: inline-block;

}

.subtract{
	display: inline-block;
}

img{
	padding-top: 9px;
	height: 30px;
}

#countdown-timer{
	display: none;
}

#drop-down{
	position: relative;
	display: inline-block;
	margin-top: 20px;
}

.drop-down-button{
    background-color: #c0c0c0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5%;
    cursor: pointer;
}

.drop-down-button:hover{
	background-color: #9a9a9a;
}

.content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	border: 1px solid black;
}

.content div{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.content div:hover{
	background-color: #f1f1f1;
	border: 1px solid black;
}

.show{
	display: block;
}




















